mixin pagination(contents = {})
  -
    const PAGINATION_DEFAULT_CONTENTS = require('Components/pagination/defaults.pug.json');
    const mergedContents = Object.assign(PAGINATION_DEFAULT_CONTENTS, contents);

    const {
      controls,
      pagesLeft,
      gapText,
      pagesRight,
      resultsRange,
      resultsTotal,
    } = mergedContents;

  .pagination
    button.pagination__control(
      type='button',
      class=!controls.left && "pagination__control--hidden"
    )
      i.material-icons arrow_back
    each link in pagesLeft
      - const { url, active, number } = link;
      a.pagination__link(href=url, class=active && "pagination__link--active")= number
    span.pagination__gap= gapText
    each link in pagesRight
      - const { url, active, number } = link;
      a.pagination__link(href=url, class=active && "pagination__link--active")= number
    button.pagination__control(
      type='button',
      class=!controls.right && "pagination__control--hidden"
    )
      i.material-icons arrow_forward
    p.pagination__tooltip= `${resultsRange[0]} – ${resultsRange[1]} из ${resultsTotal} вариантов аренды`
