mixin button(options = {})
  -
    const { 
      title = 'click me',
      type = 'button',
      style = 'gradient',
      size = 's',
      disabled = false
    } = options;

  button(
    type={ type },
    class=`
      button 
      button--style_${style}
      button--size_${size}
    `,
    disabled=disabled
  )&attributes(attributes)= title

mixin buttonLink(options = {})
  -
    const { 
      title = 'click me',
      type = 'button',
      style = 'gradient',
      size = 's',
      disabled = false,
      url = '#dummy-url'
    } = options;

  a(
    type={ type },
    class=`
      button
      button--style_${style}
      button--size_${size}
    `,
    disabled=disabled,
    href=url
  )&attributes(attributes)= title
