include ~UtilBlocks/head
include ~CommonBlocks/header/header

mixin colorBox(colorName, classSuffix, hexCode)
  figure.color-list__item
    .color-list__preview-box(class=` color-list__preview-box--bg_${classSuffix}`)
    figcaption.color-list__caption
      h2.color-list__color-title= colorName
      p.color-list__color-hex= hexCode

+head('Colors & Type')
  body.page.page--layout_colors
    +headerUIKit
    main.main-content--page_colors
      .color-list
        each percent in ['100', '75', '50', '25', '5']
          +colorBox(`Dark Shade ${percent}%`, `dark${percent}`, '#1f2041')
        +colorBox('Purple', 'purple', '#bc0cff')
        +colorBox('Green', 'green', '#6fcf97')
      .typo-list
        table
          tbody
            tr
              td.typo-list__example 
                h1.font_montserrat H1
              td.typo-list__desc 
                h1 This one is the sub-section or
                 br
                 | widget title
            tr
              td.typo-list__example
                h2.font_montserrat H2
              td.typo-list__desc 
                h2 Next one is the item title inside 
                  br
                  | widgets
            tr
              td.typo-list__example
                h3.font_montserrat H3
              td.typo-list__desc 
                h3 This is a label or cta text
            tr
              td.typo-list__example
                p.font_montserrat Body
              td.typo-list__desc 
                p This is the body text which is used for most
                  br
                  | of the design, like paragraphs, lists, etc.