include ../logo/logo
include ../input-box/input-box
include ../subscribe-form/subscribe-form
include ../social-links/social-links

-
  var footerDefaults = {
    text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
    nav: [
      {
        title: 'Навигация',
        links: [
          {
            title: 'О нас',
            url: '#some-url',
          },
          {
            title: 'Новости',
            url: '#some-url',
          },
          {
            title: 'Служба поддержки',
            url: '#some-url'
          },
          {
            title: 'Услуги',
            url: '#some-url',
          },
        ]
      },
      {
        title: 'О нас',
        links: [
          {
            title: 'О сервисе',
            url: '#some-url',
          },
          {
            title: 'Наша команда',
            url: '#some-url',
          },
          {
            title: 'Вакансии',
            url: '#some-url',
          },
          {
            title: 'Инвесторы',
            url: '#some-url',
          },
        ]
      },
      {
        title: 'Служба поддержки',
        links: [
          {
            title: 'Соглашения',
            url: '#some-url',
          },
          {
            title: 'Сообщества',
            url: '#some-url',
          },
          {
            title: 'Связь с нами',
            url: '#some-url',
          },
        ]
      },
    ],
    subscribe: {
      title: 'Подписка',
      text: 'Получайте специальные предложения и новости сервиса',
    },
    copyText: 'Copyright © 2018 Toxin отель. Все права защищены.',
  }

mixin footer(content = {})
  -
    var text = content.text || footerDefaults.text
    var nav = content.nav || footerDefaults.nav
    var subscribe = content.subscribe || footerDefaults.subscribe
    var subscribeTitle = subscribe.title || footerDefaults.subscribe.title
    var subscribeText = subscribe.text || footerDefaults.subscribe.text
    var copyText = content.copyText || footerDefaults.copyText

  footer.footer&attributes(attributes)
    .footer__nav-section.container
      .footer__col
        +logoToxin.footer__logo
        p.footer__text= text
      each subnav in nav
        .footer__col
          h2.footer__col-title= subnav.title
          ul.footer__nav-list
            each link in subnav.links
              li.footer__nav-list-item
                a(href=link.url).footer__navlink= link.title
      .footer__col
        h2.footer__col-title= subscribeTitle
        p.footer__text= subscribeText
        +subscribeForm.footer__subscribe-form
    .footer__copy-section.container
      +logoToxin.footer__copy-logo
      p.footer__copy-text= copyText
      +socialLinks.footer__social
