mixin button(title='click me', style='gradient', size='s', isDisabled)
  button(class=`button button--style_${style} button--size_${size}` disabled=isDisabled?true:false)&attributes(attributes)= title
  //-   span(class='button--style_' + style + '__title')= title

mixin aButton(title='click me', style='gradient', size='s', isDisabled)
  a(href='#some-url' class=`button button--style_${style} button--size_${size}` disabled=isDisabled?true:false)&attributes(attributes)= title