mixin inputDrop(type, placeholder, forceOpen)
  .dropdown(
    class='dropdown--type_'+type,
    class=forceOpen ? 'dropdown--force-open' : '')
    input(type='text' readonly placeholder=placeholder).dropdown__display.input-box__input
    .dropdown__contents(class=forceOpen ?'dropdown__contents--force-visible' : '')
      block

mixin dropOption(name, min=0, max)
  .dropdown__option
    span.dropdown__option-name= name
    button.dropdown__option-control.dropdown__option-control--subtract.dropdown__option-control--disabled -
    span.dropdown__option-value= min
    button.dropdown__option-control.dropdown__option-control--add +

mixin dateDrop
  .input-box__dropdown-box
    input(type='text' readonly placeholder='ДД.ММ.ГГГГ').input-box__input.input-box__input--dropdown.input-box__input--date-dropdown

mixin filterDateDrop
  .input-box__dropdown-box    
    input(type='text' readonly placeholder='19 авг - 23 авг').input-box__input.input-box__input--dropdown.input-box__input--filter-date-dropdown

mixin dropButtons
  input(type='button' value='очистить').input-box__dropdown-clear.button.button--style_text
  input(type='button' value='применить').input-box__dropdown-apply.button.button--style_text