mixin textField(name, label, mod, subtype, placeholder, value)
  div(class=mod ? `text-field text-field--${mod} mb20` : 'text-field mb20')
    label().text-field__label= label
      span.text-field__mod= name
    input(type='text', name=name, placeholder=placeholder value=value).text-field__input
