include ../button/button
include ../logo/logo

mixin header(contents = {})
  -
    const HEADER_DEFAULT_CONTENTS = require('Components/header/defaults.pug.json');
    const mergedContents = Object.assign(HEADER_DEFAULT_CONTENTS, contents);

    const { nav, username, buttons, hasShadow } = mergedContents;

  header.header.js-header(class=hasShadow && "header--has-shadow")&attributes(attributes)
    .header__wrapper
      +logo.header__logo
      button.header__btn.header__btn--type_menu.js-header__btn--type_menu.header__btn--type_iconic(
        type='button'
      )
        i.material-icons menu
      nav.header__nav.js-header__nav
        each link in nav
          - const { url, current, expandable, title } = link;
          a.header__navlink(
            href=url,
            class=current && "header__navlink--current",
            class=expandable && "header__navlink--has-subnav"
          )= title
      if !username
        each button in buttons
          - const { icon, title, type, url } = button;
          a(
            class=`header__btn header__btn--type_${type} js-header__btn--type_${type}`,
            data-icon=icon,
            data-name=title,
            href=url
          )
            span.header__btn-text
      else
        .header__user-panel
          a.header__user-menu.header__btn--type_account(
            href='/replace-me',
            data-icon='account_circle',
            data-name=username
          )= username
