mixin imageTitle(config)
  .image-title(class = `image-title--type_${config.type}`)&attributes(attributes)
    if config.type === 'emoji'
      .image-title__image.image-title__image--type_emoji.material-icons= config.src
    else
      img.image-title__image.image-title__image--type_avatar(
        alt='Фото пользователя'
        src= config.src
      )
    .image-title__text
      h4.image-title__heading= config.heading
      p.image-title__description= config.text
