include ../logo/logo
include ../subscribe-form/subscribe-form
include ../social-links/social-links

mixin footer(contents = {})
  -
    const FOOTER_DEFAULT_CONTENTS = require('Components/footer/defaults.pug.json');
    const mergedContents = Object.assign(FOOTER_DEFAULT_CONTENTS, contents)

    const { text, nav, subscribe, copyText, hasBorder } = mergedContents;
    const { title: subscribeTitle, text: subscribeText } = subscribe;

  footer.footer(class=hasBorder && "footer--has-border")&attributes(attributes)
    .footer__nav-section
      .footer__col
        +logo.footer__logo
        p.footer__text= text
      each subnav in nav
        - const { title, links } = subnav;
        .footer__col
          h2.footer__col-title= title
          ul.footer__nav-list
            each link in links
              - const { url, title } = link;
              li.footer__nav-list-item
                a.footer__navlink(href=url)= title
      .footer__col
        h2.footer__col-title= subscribeTitle
        p.footer__text= subscribeText
        +subscribeForm.footer__subscribe-form
    .footer__copy-section
      +logo.footer__copy-logo
      p.footer__copy-text= copyText
      +socialLinks.footer__social
