include ../logo/logo
include ../subscribe-form/subscribe-form
include ../social-links/social-links

mixin footer(config = {})
  -
    const FOOTER_DEFAULT_CONTENT = require('Components/footer/defaults.pug.json');

    const text = config.text || FOOTER_DEFAULT_CONTENT.text
    const nav = config.nav || FOOTER_DEFAULT_CONTENT.nav
    const subscribe = config.subscribe || FOOTER_DEFAULT_CONTENT.subscribe
    const subscribeTitle = subscribe.title || FOOTER_DEFAULT_CONTENT.subscribe.title
    const subscribeText = subscribe.text || FOOTER_DEFAULT_CONTENT.subscribe.text
    const copyText = config.copyText || FOOTER_DEFAULT_CONTENT.copyText

  footer.footer(class = config.hasBorder && 'footer--has-border')&attributes(attributes)
    .footer__nav-section
      .footer__col
        +logoToxin.footer__logo
        p.footer__text= text
      each subnav in nav
        .footer__col
          h2.footer__col-title= subnav.title
          ul.footer__nav-list
            each link in subnav.links
              li.footer__nav-list-item
                a(href=link.url).footer__navlink= link.title
      .footer__col
        h2.footer__col-title= subscribeTitle
        p.footer__text= subscribeText
        +subscribeForm.footer__subscribe-form
    .footer__copy-section
      +logoToxin.footer__copy-logo
      p.footer__copy-text= copyText
      +socialLinks.footer__social
