mixin box(config = {})
  -
    const {
      hasSeparators,
      inline,
      label,
      labelMB,
      mt,
      mr,
      mb,
      stretch,
      width,
    } = config;

  -
    let className = 'box';
    hasSeparators && (className += ' box--has-separators')
    inline && (className += ' box--inline')
    mt && (className += ` box--mt_${mt}`)
    mr && (className += ` box--mr_${mr}`)
    mb && (className += ` box--mb_${mb}`)
    stretch && (className += ' box--stretch')
    width && (className += ` box--width_${width}`)

  div(class=className)
    if label
      h3.box__label(class=labelMB && `box__label--mb_${labelMB}`)= label
    block
