include ~Components/room-title/room-title
include ~Components/star-rating/star-rating

mixin roomCard(config = {})
  -
    const {
      cost = '9 999',
      lux = false,
      number = '001',
      photos = ['room1.png'],
      rating = 0,
      reviewCount = 0,
    } = config;


  .room-card&attributes(attributes)
    .room-card__photos
      .room-card__photos-ratio
      button.room-card__control.room-card__control--direction_left(
        type='button'
      )
        i.material-icons.room-card__icon-left arrow_back_ios
      button.room-card__control.room-card__control--direction_right(
        type='button'
      )
        i.material-icons.room-card__icon-right arrow_forward_ios
      each photo in photos
        img.room-card__photo(
          src=`../assets/images/${photo}`,
          alt='Фото комнаты'
        )
      nav.room-card__nav
        each photo, index in photos
          button.room-card__navbtn(
            type='button',
            class=index === 0 && "room-card__navbtn--current"
          )
    .room-card__info
      +roomTitle({ number, lux, price, url: './room-details.html'}).room-card__title
      .room-card__rating
        +starRating({ value: rating })
        span.room-card__review-counter
          strong= reviewCount
          |
          | отзывов
